/* Fontes */
@font-face {
  font-family: Amatic;
  src: url("../src/assets/font/AmaticSC-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Kalam;
  src: url("../src/assets/font/Kalam-Regular.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Lindsey;
  src: url("../src/assets/font/lindsey-w01-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: ReenieBeanie;
  src: url("../src/assets/font/ReenieBeanie-Regular.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Lindsey", sans-serif;
}

p {
  font-family: "ReenieBeanie", sans-serif;
  font-size: 20px;
}

body {
  background: url("../src/assets/img/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100%;
}

main {
  min-width: 100%;
  min-height: 100vh; 
  margin: 0 auto;
  /* padding: 1rem; */
}



