/* Fontes */
@font-face {
  font-family: Kalam;
  src: url("../src/assets/font/Kalam-Regular.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Kalam";
}

body {
  background: url("../src/assets/img/background.svg");
  /* background: #1200b6; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100%;
}

main {
  min-width: 100%;
  min-height: 100vh; 
  margin: 0 auto;
  /* padding: 2rem; */
}

/* Estilo para o modal */
.ReactModal__Content {
  background: url("../src/assets/img/back.jpg") !important;
  border: none !important;
  background-size: cover !important;
}

.task-form {
  padding: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-form input,
textarea.task-description {
  background: none;
  color: white;
  padding: 10px 8px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 2rem;
  /* width: 100%;*/ /*apenas no mobile */
}

.task-form input.task-name::placeholder,
textarea.task-description::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-form input:focus,
textarea.task-description:focus {
  outline: none;
}

textarea.task-description {
  height: 100px;
}

.task-form .btn-add-modal, .btn-add {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(153, 142, 247, 1);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  width: 40px;
  color: white;
  font-size: 1rem;
}

/* Task página principal */

/* Botão contagem */
.container-btn-count {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
  width: 90%;
}

.btn-count {
  border: none;
  border-radius: 5px;
  background-color: rgb(207, 111, 164);
  color: white;
}

.principal-title {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.task {
  background-color: #998ef7;
  border-radius: 10px;
  padding: 2.5px 4.5px;
  margin-top: 10px;
  display: flex;
  width: 250px;
  transition: opacity 0.3s linear;
}

.task-name {
  flex-grow: 1;
  line-height: 0%;
  padding: 1em 0;
}

.task .description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .7em;
  color: rgb(255, 255, 255);
  opacity: .7;
  line-height: 1.1em;

}

.task span {
  position: relative;
}

.task span:before {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background-color: #ddd;
  position: absolute;
  top: 45%;
  transition: width 0.2s linear;
}

.task.done span:before {
  width: 100%;
}

.task.done {
  opacity: 0.3;
}

/* h1.text-complete,
h2.principal-title {
  text-align: center;
} */

.checkbox div img {
  height: 20px;
  margin: 6px;
}

/* Ícones das tasks - lixeira e lápis */
button.trash-icon,
button.pen-icon {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 5px;
  align-items: flex-end;
}

.pen-icon img, .trash-icon img {
  width: 12px;
}

.container {
  /* MOBILE */
  /* display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; */
  /* -------------------- */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
}

